@model ArsanWebApp.Models.Propietario

@{
    ViewData["Title"] = "Asignar Propietario";
}

<h2>Asignar Propietario</h2>

<h4>Asignando a: <strong>@Model.NombreCompleto</strong></h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="IdPersona" />
            <input type="hidden" asp-for="NombreCompleto" />
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" maxlength="10" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Confirmar Asignación" class="btn btn-primary" />
                <a asp-controller="Persona" asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>